@page "/"

<div class="card p-3" id="homepage">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-3 tech-item">
            <h2>VueJS</h2>
            <img src="img/vuejs.jpeg" />
        </div>
        <div class="col-2 versus-grid">
            <h1>VS</h1>
        </div>
        <div class="col-3 tech-item">
            <h2>Blazor</h2>
            <img src="img/blazor.jpg" />
        </div>
        <div class="col-2"></div>
    </div>
    <div class="card-body">
        <p class="card-text">
            Functional comparison between client side functionalities of VueJS and Blazor. 
            VueJS examples are hosted on ASP.NET Server Rendering application which use VueJS engine for binding. 
            On the other hand Blazor application use ASP.NET client side pages with Blazor engine for client side rendering.
        </p>
        <a href="https://github.com/gsk567/VueJS-vs-Blazor" target="_blank" class="btn btn-source">GO TO PROJECT SOURCE</a>
    </div>
</div>